In [3]:
import pandas as pd

persons = {
    "Name": ["Amin", "Najim", "Khaled"],
    "Age": [50, 45, 40]
}

p = pd.DataFrame(data=persons)
p

     Name  Age
0    Amin   50
1   Najim   45
2  Khaled   40

In [5]:
p['Phone'] = '999'

In [7]:
p

     Name  Age Phone
0    Amin   50   999
1   Najim   45   999
2  Khaled   40   999

In [15]:
p[(p['Phone'] == '999') & (p['Name'] == 'Amin')]

   Name  Age Phone
0  Amin   50   999

In [25]:
p[p['Name'] == 'Amin'][['Phone']] = '222'

C:\Users\Student\AppData\Local\Temp\ipykernel_27488\3135942108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p[p['Name'] == 'Amin'][['Phone']] = ['222']